html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  height: 100vh;
  width: 100rem;
  display: flex;
  flex-direction: column;
  background-color: #313c42;
  justify-content: space-around;
  padding: 2rem;
}

.mid {
  display: flex;
}

.images {
  margin: 0 auto;
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: center;
  object-fit: cover;
  position: relative;
}

.image {
  position: absolute;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  opacity: 0;
}

.image.active {
  opacity: 1;
  z-index: 1;
  display: unset;
  transition-delay: 0ms;
}

img {
  width: 75rem;
  height: auto;
}

.arrow {
  padding: 1rem;
  font-size: 5rem;
  margin-top: 10rem;
  color: gray;
}

.arrow:hover {
  color: black;
  cursor: pointer;
}

.radios {
  margin: 0 auto;
  z-index: 2;
}

input[type="radio"] {
  accent-color: #313c42;
}
